@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  background-image: url(../../public/bg.svg);
  background-repeat: no-repeat;
  background-size: auto;
}
option {
  padding: 20px;
}

small {
  position: absolute;
  bottom: -20px;
  color: red;
}
