@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url(../../public/bg.svg);
  background-repeat: no-repeat;
  background-size: auto;
}
option {
  padding: 20px;
}
